# 1. Nombre 
name: PachangApp Despliegue Secuencial en AWS S3

# 2. Disparadores
on:
  # Disparador manual
  workflow_dispatch:

jobs:
  # PROBAR (CI)
  test:
    name: Instalar y Probar
    runs-on: ubuntu-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 10.15.1

      - name: Instalar dependencias
        run: npm ci

      - name: Ejecutar pruebas (npm test)
        run: npm test

  # CONSTRUIR ARTEFACTOS
  build:
    name: Construir Artefactos
    runs-on: ubuntu-latest
    
    needs: test

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Node.js 
        uses: actions/setup-node@v4
        with:
          node-version: 10.15.1

      - name: Instalar dependencias
        run: npm ci

      # Generamos la carpeta 'docs'
      - name: Generar documentacion
        run: npm run docs

      # Guardamos el sitio web
      - name: Subir artefacto del sitio web
        uses: actions/upload-artifact@v4
        with:
          name: static-site
          # RECUERDA: Cambia 'src/' por '.' si tu web está en la raíz
          path: src/

      # Guardamos la documentación
      - name: Subir artefacto de la documentación
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: docs/

  # DESPLEGAR EN S3
  deploy:
    name: Desplegar en AWS S3
    runs-on: ubuntu-latest

    needs: build

    # Condición: Solo ejecutar si el disparador fue 'workflow_dispatch'
    if: github.event_name == 'workflow_dispatch'

    steps:
      - name: Configurar credenciales de AWS
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Descargar artefacto del sitio web
        uses: actions/download-artifact@v4
        with:
          name: static-site
          path: ./sitio-web

      - name: Descargar artefacto de la documentación
        uses: actions/download-artifact@v4
        with:
          name: documentation
          path: ./sitio-docs

      - name: Desplegar sitio web en S3
        run: |
          aws s3 sync ./sitio-web/ s3://${{ secrets.S3_BUCKET_NAME }} --delete

      - name: Desplegar documentación en S3
        run: |
          aws s3 sync ./sitio-docs/ s3://${{ secrets.S3_BUCKET_NAME }}/docs --delete
